.attend
{
    position: relative;
    .menu-drop
    {
position: absolute;
width:200px;
text-align: left;
padding: 10px 0;
background-color: rgba(0,0,0,0.7);
text-transform: capitalize;
display: none;
li
{
    margin-top: 10px;
}
li,a
{
    border-bottom: 0 !important;
    &:before
    {
        content: none !important;
    }
}
    }
}
.portfolio-wrapper.clearfix
{
    @media(max-width:500px) {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-gap:10px;
        .each-portfolio
        {
            width:100% !important;
        }
    }
    
}
.each-portfolio
{
    h3
    {
        font-size: 14px !important;
        text-align: center;
        height:30px;
        background-color:#536876;
        color:#f0f0f0;
        
        margin: 0 !important;
        line-height: 30px !important;
    }
    h5
    {

    }
    @media(max-width:768px) {
        h3
    {
        font-size: 8px !important;
        text-align: center;
        height:20px;
        background-color:#536876;
        color:#f0f0f0;
        
        margin: 0 !important;
        line-height: 20px !important;
    }
    h5
    {
        font-size: 12px !important;
        height: 40px !important;
    }
    }
    

}
.Forms
{
	position: fixed;
	 z-index: 100;
     width:100%;
     height:100vh;
     left:0;
     top:0;
     transform: translate(-300%,0) scale(0.01);
     transition: 0.3s;
     
     @media(max-width:700px)
     {
        width:100%;
        .form-group
        {
            grid-template-columns: 1fr !important;
        }
     }
    &.active
    {
        transform: translate(0,0) scale(1);
    }
    background-color:white;
    padding: 5vh 30vw;
    @media(max-width:1100px)
    {
        padding: 2vh 3vw;
    }
    *
    {
        border-radius: 0 !important;
    }
    h2
    {
        text-transform: capitalize;
        
    }
    a
    {
        position: absolute;
        right:20px;
        top:20px;
        font-size: 20px;
    }
    .form-group
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-column-gap: 30px;
    }
}
.services-wrapper
{
    display: grid !important    ;
    grid-template-columns: repeat(auto-fit,250px);
    grid-gap: 150px;
    
    img
    {
        width:100%;
    }
    h3
    {
        text-transform: uppercase;
        text-align: center;
        color:crimson
    }
}